/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/04/2020, 20:25:43
    Author     : Renato
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    font-family: 'Roboto', sans-serif !important;
}
.ui-widget{
    font-family: 'Roboto', sans-serif !important;
}
*{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    background: #31353d;
    height: 60px;
    display: flex;
    z-index: 1;
}
.nav .logo {
    text-align: center;
    width: calc(90% - 20px);
    padding-top: 10px;
}
.nav .logo img {
    margin-left: 5px;
    margin-top: 1px;
}

.nav .cart{
    text-align: right;
    right: 0;
    position: absolute;
    height: 60px;
    background: #26292f;
    width: 90px;

    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}
.nav .cart a{
    position: absolute;
    width: 90px;
    right: 0;
    height: 58px;
    text-decoration: none;
}
.nav .cart fa{

}
.conteudo{
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.badge-custom{
    text-decoration: none;
    background: #e83b62 !important;
    padding: 5px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 11px;
    width: 22px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #26292f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #e83b62;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}

}
.botton-itens{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-item{
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
.sidenav span{
    color: white;
}
.item{
    border-bottom: 1px solid #31353d;
    padding: 5px;
}

.contain{
    margin: 0px;
    padding: 0;
}
.containp5{
    margin: 0px;
    padding: 5px;;
}
.item-detail{
    font-size: 15px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    display: inline-grid;
    width: 100%;

    position: absolute;
    top: 25%;
    color: white;
    font-size: 30px;

    text-align: center;
    vertical-align: middle;
}
.item-detail strong{
    margin-top: 10px;
    margin-bottom: 0px;
}
.item-detail small{
    font-size: 11px;
    color: #aaa;
    padding-right: 20px;
}
.item-detail a small{
    font-size: 11px;
    color: #fff;
    font-weight: bolder;

}
.item-img {
    filter: brightness(50%);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.item-img img{
    width: 100%;
    height: 150px;
}

.itm-img{
    text-align: center;

}
.itm-img .cover{

}
.itm-img .cover img{

}

.btn-primary {
    color: #fff;
    background-color: #e83b62 !important;
    border-color: #e83b62 !important;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
    color: #fff !important;
    background-color: #ca173f !important;
    border-color: #ca173f !important;
}
.item-img:hover{

    opacity: 1;
}

label {
    margin-bottom: 0px;
}

#fechamento .form-group{
    margin-bottom: 5px;
}


/* Styling Checkbox Starts */
input[type=checkbox] {
    outline: none;
    width: 58px;
    height: 21px;
    font-size: 11px;
    line-height: 2;
    display: block;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #B9B9B9;
    -webkit-appearance: none;

    background-image: -webkit-gradient( 
        linear, left top, left bottom,
        color-stop(0, #E8E8E8),
        color-stop(0.5, #E8E8E8),
        color-stop(0.5, #FDFDFD),
        color-stop(1, #FDFDFD)
        );
    box-shadow: 0px 1px 2px #AFAFAF inset;
    color: #7F7F7F;
}

input[type=checkbox]:checked {
    background: #e83b62;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    border: 1px solid #e83b62;
}

input[type=checkbox]:before {
    content: 'Não';
    border-radius: 3px;
    border-top: 1px solid #F7F7F7;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BDBDBD;
    background-image: -webkit-gradient( 
        linear, left top, left bottom,
        color-stop(0, #D8D8D8),
        color-stop(1, #FBFBFB)
        );
    height: 20px;
    width: 22px;
    display: inline-block;
    text-indent: 27px;
}

input[type=checkbox]:checked:before {
    content: 'Sim';
    text-indent: -25px;
    margin-left: 33px;
}


.custom-modal .modal-body{
    padding: 0px;
}
.head-hidden{
    display: none;
}

.bootstrap-touchspin-up{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius:25px !important;
    border-left: none !important;
    font-size: 25px !important;
    font-weight: bolder !important;
    width: 60px;
}
.bootstrap-touchspin-down{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    border-right: none !important;
    font-size: 25px !important;
    font-weight: bolder !important;
    width: 60px;
}
.ipt-touch{
    border-left: none !important;
    border-right: none !important;
    height: 49px !important;
    font-size: 35px;
    font-weight: bolder;
}

.ui-slider-horizontal {
    height: .8em !important;
    border: none   !important;
    border-radius: 0px !important;
    background: #ccc !important;
    box-shadow: none !important;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}
.fade-scale.out {
    opacity: 0;
    transform: scale(1);
}

.ui-panel{
    padding: 0px !important;
}
.ui-panel .ui-panel-content{
    padding: 0px !important;
}

.ui-toggleswitch-slider{
    border: 1px solid #ccc;
}
.ui-toggleswitch-slider:before{
    background: #7F7F7F;
}

.ui-toggleswitch-checked .ui-toggleswitch-slider{
    background: #e83b62;
}
.ui-toggleswitch-checked  .ui-toggleswitch-slider:before{
    background: white;
}

.row.equal-cols {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.row.equal-cols:before,
.row.equal-cols:after {
    display: block !important;
}

.row.equal-cols > [class*='col-'] {
    display: -webkit-flex !important; 
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;  
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}

label{
    margin-bottom: 0px !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .contentudo {
    padding-top: 102px;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #e83b62 !important; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #e83b62 !important; /* Add a dark-grey background on hover */
}

.ui-chkbox .ui-chkbox-box {
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background:  white;
    border-color: #e83b62  !important;
}
.ui-selectmanycheckbox .ui-chkbox .ui-chkbox-box{
    width: auto !important;
    height: auto !important;
}
.modal-footer{
    padding-top: 0px !important;
}

.ui-selectmanycheckbox label{
    font-size: 18px !important;
}
.ui-selectmanycheckbox.ui-widget td, .ui-selectoneradio.ui-widget td{
    font-size: 24px !important;
}


footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background: #e83b62;
}
.fixed-bottom span{
    color: white;
}

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}